language: node_js
node_js:
- 0.10
env:
  global:
  - secure: XaSClQEAq5hMxM1Zg/kww0UZMpffSATb0OFY1mBAcx81AI3muIKK1uhmqNEVzQXzsMlf1RT/wmGHrBaSjn2qRyF/Dl0PzE67a9zq5vNAITgWmM62hkd/RBRlGXPpxC0I+oUD5yblLNcDcENJYoLkHkueM4RD3K+swWxn4n2eu28=
  - secure: RF2AsWNd2UU3AbuQ7JMkgps6CAIueKrnlnLA0OhUB2+RXbg9C47LhPC6lPjEHxBOY5OTUlhXUs9OHj9c7e16rlkjrwxv7YAHdN/DbX6wgpG7clxBhjhLA/p8VLgT5vLzD/xzQm7inKAGs1qhFOvf8jnhIY5oISP/izXD4dn1tWg=
addons:
  sauce_connect: true
